* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-family: Arial;
  color: #003333;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  color: #003333;
}
li {
  list-style: none;
}
.clr {
  clear: both;
}
/**************************************/
/*******************/
/***************************************/
header,
nav,
.content-wrapper {
  width: 1280px;
  margin: 0 auto;
}
header {
  background-image: url('../img/header.jpg');
  height: 528px;
  position: relative;
}
header img {
  position: absolute;
  left: 33%;
}
nav ul {
  padding-left: 100px;
  background: linear-gradient(top, white 0%, #ff9933 50%, #ffcc99 100%);
  background: -moz-linear-gradient(top, white 0%, #ff9933 50%, #ffcc99 100%);
  background: -ms-linear-gradient(top, white 0%, #ff9933 50%, #ffcc99 100%);
  background: -o-linear-gradient(top, white 0%, #ff9933 50%, #ffcc99 100%);
  background: -webkit-linear-gradient(top, white 0%, #ff9933 50%, #ffcc99 100%);
  box-shadow: 0 2px 4px #996633;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: inline-block;
  font-size: 30px;
  text-shadow: 1px 1px 1px white;
  padding: 10px 30px;
}
/********************************/
.content-wrapper .left-menu {
  float: left;
  width: 300px;
}
.content-wrapper .left-menu .extra-menu {
  display: block;
  background: linear-gradient(top, #ff9933 0%, #ffcc99 50%, #ff9933 100%);
  background: -moz-linear-gradient(top, #ff9933 0%, #ffcc99 50%, #ff9933 100%);
  background: -ms-linear-gradient(top, #ff9933 0%, #ffcc99 50%, #ff9933 100%);
  background: -o-linear-gradient(top, #ff9933 0%, #ffcc99 50%, #ff9933 100%);
  background: -webkit-linear-gradient(top, #ff9933 0%, #ffcc99 50%, #ff9933 100%);
  box-shadow: inset -2px 2px 2px #996633;
  font-size: 24px;
  color: white;
  text-shadow: 3px 2px 2px #996633;
  text-align: center;
  padding: 10px 0;
  margin: 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: 1s;
  transition: 1s;
  opasity: .3;
  width: 270px;
}
.content-wrapper .left-menu .extra-menu:hover {
  width: 300px;
}
.content-wrapper .left-menu .tours {
  width: 270px;
  -webkit-transition: 1s;
  transition: 1s;
}
.content-wrapper .left-menu .tours .type {
  background: linear-gradient(top, #ff9933 0%, #ffcc99 50%, #ff9933 100%);
  background: -moz-linear-gradient(top, #ff9933 0%, #ffcc99 50%, #ff9933 100%);
  background: -ms-linear-gradient(top, #ff9933 0%, #ffcc99 50%, #ff9933 100%);
  background: -o-linear-gradient(top, #ff9933 0%, #ffcc99 50%, #ff9933 100%);
  background: -webkit-linear-gradient(top, #ff9933 0%, #ffcc99 50%, #ff9933 100%);
  display: block;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px white;
  text-decoration: underline;
  border-radius: 0 30px 30px 0;
  padding: 5px;
  box-shadow: inset -2px 2px 2px #996633;
}
.content-wrapper .left-menu .tours:hover {
  width: 300px;
}
.content-wrapper .left-menu .subtype {
  background: linear-gradient(top, #366896 0%, #ccffff 50%, #366896 100%);
  background: -moz-linear-gradient(top, #366896 0%, #ccffff 50%, #366896 100%);
  background: -ms-linear-gradient(top, #366896 0%, #ccffff 50%, #366896 100%);
  background: -o-linear-gradient(top, #366896 0%, #ccffff 50%, #366896 100%);
  background: -webkit-linear-gradient(top, #366896 0%, #ccffff 50%, #366896 100%);
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
  padding: 30px 0;
  box-shadow: inset -2px 2px 2px #366896;
  width: 270px;
  -webkit-transition: 1s;
  transition: 1s;
}
.content-wrapper .left-menu .subtype:hover {
  width: 300px;
}
.content-wrapper .left-menu .subtype li a {
  font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 1px 1px white;
  padding: 5px 0 5px 40px;
  text-decoration: underline;
}
.content-wrapper .content,
.content-wrapper .carousel {
  width: 950px;
  float: right;
}
.content-wrapper .content-stretched {
  width: 100%;
}
.content-wrapper .carousel {
  margin-bottom: 10px;
}
.content-wrapper .content,
.content-wrapper .content-stretched {
  border: 2px solid #ff9933;
  border-radius: 50px;
}
.content-wrapper .content .content-item-caption,
.content-wrapper .content-stretched .content-item-caption {
  display: block;
  background: linear-gradient(top, #ff9933 0%, #ffcc99 50%, #ff9933 100%);
  background: -moz-linear-gradient(top, #ff9933 0%, #ffcc99 50%, #ff9933 100%);
  background: -ms-linear-gradient(top, #ff9933 0%, #ffcc99 50%, #ff9933 100%);
  background: -o-linear-gradient(top, #ff9933 0%, #ffcc99 50%, #ff9933 100%);
  background: -webkit-linear-gradient(top, #ff9933 0%, #ffcc99 50%, #ff9933 100%);
  box-shadow: inset -2px 2px 2px #996633;
  font-size: 24px;
  color: white;
  text-shadow: 3px 2px 2px #996633;
  text-align: center;
  padding: 10px 0;
  margin: 30px 0;
  border-radius: 0 30px 30px 0;
  width: 270px;
}
.content-wrapper .content .content-item,
.content-wrapper .content-stretched .content-item {
  box-shadow: 2px 2px 4px #003333;
  margin: 20px;
  padding: 20px;
}
.content-wrapper .content .content-item img,
.content-wrapper .content-stretched .content-item img {
  float: right;
  margin: 10px;
}
.content-wrapper .content .content-item .grid-column,
.content-wrapper .content-stretched .content-item .grid-column {
  float: left;
  width: 33%;
  text-align: center;
}
.content-wrapper .content .content-item .grid-column a,
.content-wrapper .content-stretched .content-item .grid-column a,
.content-wrapper .content .content-item .grid-column p,
.content-wrapper .content-stretched .content-item .grid-column p {
  display: block;
  margin: 0 auto;
  width: 185px;
}
.content-wrapper .content .content-item .grid-column a img,
.content-wrapper .content-stretched .content-item .grid-column a img,
.content-wrapper .content .content-item .grid-column p img,
.content-wrapper .content-stretched .content-item .grid-column p img {
  margin: 0 0 10px 0;
}
.content-wrapper .content .news-caption,
.content-wrapper .content-stretched .news-caption {
  display: block;
  background: linear-gradient(top, #ff9933 0%, #ffcc99 50%, #ff9933 100%);
  background: -moz-linear-gradient(top, #ff9933 0%, #ffcc99 50%, #ff9933 100%);
  background: -ms-linear-gradient(top, #ff9933 0%, #ffcc99 50%, #ff9933 100%);
  background: -o-linear-gradient(top, #ff9933 0%, #ffcc99 50%, #ff9933 100%);
  background: -webkit-linear-gradient(top, #ff9933 0%, #ffcc99 50%, #ff9933 100%);
  box-shadow: inset -2px 2px 2px #996633;
  font-size: 24px;
  color: white;
  text-shadow: 3px 2px 2px #996633;
  text-align: center;
  padding: 10px 0;
  margin: 30px 0;
  border-radius: 0 30px 30px 0;
  width: 270px;
}
