/**
 * Gradients
 */
/**
 * General
 */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-family: Arial;
}
a,
a:hover,
a:focus {
  color: #5a6f73;
  text-decoration: none;
}
ul,
ol {
  margin: 0;
}
li {
  list-style: none;
}
.clr {
  clear: both;
}
body {
  color: #5a6f73;
  line-height: normal;
}
/**
 * Header
 */
#header {
  width: 1280px;
  height: 280px;
  margin: 0 auto;
  position: relative;
  background: url('../img/sea.jpg');
}
#header .globe {
  position: absolute;
  top: 0;
  left: -140px;
  z-index: 2;
}
#header .logo {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 2;
}
#header .firm {
  position: absolute;
  top: 160px;
  left: -50px;
  font: bold 30px Tahoma ;
  color: #f6f1cf;
  width: 300px;
  text-shadow: 2px 2px #7f969b;
  text-align: center;
  z-index: 2;
}
#header .header-menu {
  position: absolute;
  font-size: 18px;
  display: block;
  width: 200px;
  height: 100px;
}
#header .header-menu a {
  display: block;
  margin: 10px auto;
}
#header .header-menu div {
  background: linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -moz-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -ms-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -o-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -webkit-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  display: block;
  padding: 6px 0;
  text-align: center;
  max-width: 200px;
  border-radius: 30px;
  border: 1px solid #f6f1cf;
  text-shadow: 1px 1px #f6f1cf;
  margin: 0 auto;
  margin-top: 100px;
}
#header .header-menu2 {
  position: absolute;
  font-size: 18px;
  display: block;
  width: 200px;
  height: 100px;
  background: url('../img/ico1.png') 0 0 no-repeat;
  top: 35%;
  left: 30%;
}
#header .header-menu2 a {
  display: block;
  margin: 10px auto;
}
#header .header-menu2 div {
  background: linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -moz-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -ms-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -o-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -webkit-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  display: block;
  padding: 6px 0;
  text-align: center;
  max-width: 200px;
  border-radius: 30px;
  border: 1px solid #f6f1cf;
  text-shadow: 1px 1px #f6f1cf;
  margin: 0 auto;
  margin-top: 100px;
}
#header .header-menu2:hover {
  background: url('../img/ico1.png') -600px 0 no-repeat;
}
#header .header-menu1 {
  position: absolute;
  font-size: 18px;
  display: block;
  width: 200px;
  height: 100px;
  background: url('../img/ico1.png') -200px 0 no-repeat;
  top: 11%;
  left: 50%;
}
#header .header-menu1 a {
  display: block;
  margin: 10px auto;
}
#header .header-menu1 div {
  background: linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -moz-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -ms-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -o-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -webkit-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  display: block;
  padding: 6px 0;
  text-align: center;
  max-width: 200px;
  border-radius: 30px;
  border: 1px solid #f6f1cf;
  text-shadow: 1px 1px #f6f1cf;
  margin: 0 auto;
  margin-top: 100px;
}
#header .header-menu1:hover {
  background: url('../img/ico1.png') -800px 0 no-repeat;
}
#header .header-menu3 {
  position: absolute;
  font-size: 18px;
  display: block;
  width: 200px;
  height: 100px;
  background: url('../img/ico1.png') -400px 0 no-repeat;
  top: 26%;
  left: 68%;
}
#header .header-menu3 a {
  display: block;
  margin: 10px auto;
}
#header .header-menu3 div {
  background: linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -moz-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -ms-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -o-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -webkit-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  display: block;
  padding: 6px 0;
  text-align: center;
  max-width: 200px;
  border-radius: 30px;
  border: 1px solid #f6f1cf;
  text-shadow: 1px 1px #f6f1cf;
  margin: 0 auto;
  margin-top: 100px;
}
#header .header-menu3:hover {
  background: url('../img/ico1.png') -1000px 0 no-repeat;
}
#header .phone {
  position: absolute;
  top: 5%;
  left: 25%;
  font: 24px Tahoma;
}
#header #search {
  position: absolute;
  top: 5%;
  right: 1%;
  height: 30px;
}
#header #search input[type="search"] {
  height: 32px;
  background-color: #f6f1cf;
  border: 1px solid #5a6f73;
  padding-left: 10px;
  font-size: 18px;
}
#header #search input[type="submit"] {
  position: absolute;
  right: 1px;
  top: 1px;
  background-image: url('../img/search.png');
  background-color: #f6f1cf;
  height: 30px;
  width: 30px;
}
/**
 * Navigation (top & bottom menu)
 */
#nav,
#footer {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
#nav img,
#footer img {
  position: absolute;
  right: 0;
  top: -20px;
}
#nav .menu-main,
#footer .menu-main {
  background: linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -moz-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -ms-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -o-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -webkit-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  height: 140px;
  padding-left: 80px;
  border-top: 1px solid #a1c9c4;
  padding-left: 180px;
  width: 1280px;
}
#nav .menu-main li,
#footer .menu-main li {
  float: left;
  text-align: center;
}
#nav .menu-main li a,
#footer .menu-main li a {
  display: inline-block;
  width: 80px;
  height: 50px;
  padding-top: 60px;
  margin: 30px 30px 0;
  font-size: 18px;
  text-shadow: 1px 1px white;
}
#nav .menu-main li a:hover,
#footer .menu-main li a:hover {
  text-shadow: 1px 1px white;
}
#nav .menu-main li .nav-ico1,
#footer .menu-main li .nav-ico1 {
  background: url('../img/icon.png') -480px 0 no-repeat;
}
#nav .menu-main li .nav-ico1:hover,
#footer .menu-main li .nav-ico1:hover {
  background: url('../img/icon.png') 0 0 no-repeat;
}
#nav .menu-main li .nav-ico2,
#footer .menu-main li .nav-ico2 {
  background: url('../img/icon.png') -560px 0 no-repeat;
}
#nav .menu-main li .nav-ico2:hover,
#footer .menu-main li .nav-ico2:hover {
  background: url('../img/icon.png') -80px 0 no-repeat;
}
#nav .menu-main li .nav-ico3,
#footer .menu-main li .nav-ico3 {
  background: url('../img/icon.png') -640px 0 no-repeat;
}
#nav .menu-main li .nav-ico3:hover,
#footer .menu-main li .nav-ico3:hover {
  background: url('../img/icon.png') -160px 0 no-repeat;
}
#nav .menu-main li .nav-ico4,
#footer .menu-main li .nav-ico4 {
  background: url('../img/icon.png') -720px 0 no-repeat;
}
#nav .menu-main li .nav-ico4:hover,
#footer .menu-main li .nav-ico4:hover {
  background: url('../img/icon.png') -240px 0 no-repeat;
}
#nav .menu-main li .nav-ico5,
#footer .menu-main li .nav-ico5 {
  background: url('../img/icon.png') -800px 0 no-repeat;
}
#nav .menu-main li .nav-ico5:hover,
#footer .menu-main li .nav-ico5:hover {
  background: url('../img/icon.png') -320px 0 no-repeat;
}
#nav .menu-main li .nav-ico6,
#footer .menu-main li .nav-ico6 {
  background: url('../img/icon.png') -880px 0 no-repeat;
}
#nav .menu-main li .nav-ico6:hover,
#footer .menu-main li .nav-ico6:hover {
  background: url('../img/icon.png') -400px 0 no-repeat;
}
#nav .menu-bottom,
#footer .menu-bottom {
  background: linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -moz-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -ms-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -o-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -webkit-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  height: 140px;
  padding-left: 80px;
}
#nav .menu-bottom li,
#footer .menu-bottom li {
  float: left;
  text-align: center;
}
#nav .menu-bottom li a,
#footer .menu-bottom li a {
  display: inline-block;
  width: 80px;
  height: 50px;
  padding-top: 60px;
  margin: 30px 30px 0;
  font-size: 18px;
  text-shadow: 1px 1px white;
}
#nav .menu-bottom li a:hover,
#footer .menu-bottom li a:hover {
  text-shadow: 1px 1px white;
}
#nav .menu-bottom li .nav-ico1,
#footer .menu-bottom li .nav-ico1 {
  background: url('../img/icon.png') -480px 0 no-repeat;
}
#nav .menu-bottom li .nav-ico1:hover,
#footer .menu-bottom li .nav-ico1:hover {
  background: url('../img/icon.png') 0 0 no-repeat;
}
#nav .menu-bottom li .nav-ico2,
#footer .menu-bottom li .nav-ico2 {
  background: url('../img/icon.png') -560px 0 no-repeat;
}
#nav .menu-bottom li .nav-ico2:hover,
#footer .menu-bottom li .nav-ico2:hover {
  background: url('../img/icon.png') -80px 0 no-repeat;
}
#nav .menu-bottom li .nav-ico3,
#footer .menu-bottom li .nav-ico3 {
  background: url('../img/icon.png') -640px 0 no-repeat;
}
#nav .menu-bottom li .nav-ico3:hover,
#footer .menu-bottom li .nav-ico3:hover {
  background: url('../img/icon.png') -160px 0 no-repeat;
}
#nav .menu-bottom li .nav-ico4,
#footer .menu-bottom li .nav-ico4 {
  background: url('../img/icon.png') -720px 0 no-repeat;
}
#nav .menu-bottom li .nav-ico4:hover,
#footer .menu-bottom li .nav-ico4:hover {
  background: url('../img/icon.png') -240px 0 no-repeat;
}
#nav .menu-bottom li .nav-ico5,
#footer .menu-bottom li .nav-ico5 {
  background: url('../img/icon.png') -800px 0 no-repeat;
}
#nav .menu-bottom li .nav-ico5:hover,
#footer .menu-bottom li .nav-ico5:hover {
  background: url('../img/icon.png') -320px 0 no-repeat;
}
#nav .menu-bottom li .nav-ico6,
#footer .menu-bottom li .nav-ico6 {
  background: url('../img/icon.png') -880px 0 no-repeat;
}
#nav .menu-bottom li .nav-ico6:hover,
#footer .menu-bottom li .nav-ico6:hover {
  background: url('../img/icon.png') -400px 0 no-repeat;
}
#nav .menu,
#footer .menu {
  background: linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -moz-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -ms-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -o-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -webkit-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  height: 140px;
  padding-left: 80px;
}
#nav .menu li,
#footer .menu li {
  float: left;
  text-align: center;
}
#nav .menu li a,
#footer .menu li a {
  display: inline-block;
  width: 80px;
  height: 50px;
  padding-top: 60px;
  margin: 30px 30px 0;
  font-size: 18px;
  text-shadow: 1px 1px white;
}
#nav .menu li a:hover,
#footer .menu li a:hover {
  text-shadow: 1px 1px white;
}
#nav .menu li .nav-ico1,
#footer .menu li .nav-ico1 {
  background: url('../img/icon.png') -480px 0 no-repeat;
}
#nav .menu li .nav-ico1:hover,
#footer .menu li .nav-ico1:hover {
  background: url('../img/icon.png') 0 0 no-repeat;
}
#nav .menu li .nav-ico2,
#footer .menu li .nav-ico2 {
  background: url('../img/icon.png') -560px 0 no-repeat;
}
#nav .menu li .nav-ico2:hover,
#footer .menu li .nav-ico2:hover {
  background: url('../img/icon.png') -80px 0 no-repeat;
}
#nav .menu li .nav-ico3,
#footer .menu li .nav-ico3 {
  background: url('../img/icon.png') -640px 0 no-repeat;
}
#nav .menu li .nav-ico3:hover,
#footer .menu li .nav-ico3:hover {
  background: url('../img/icon.png') -160px 0 no-repeat;
}
#nav .menu li .nav-ico4,
#footer .menu li .nav-ico4 {
  background: url('../img/icon.png') -720px 0 no-repeat;
}
#nav .menu li .nav-ico4:hover,
#footer .menu li .nav-ico4:hover {
  background: url('../img/icon.png') -240px 0 no-repeat;
}
#nav .menu li .nav-ico5,
#footer .menu li .nav-ico5 {
  background: url('../img/icon.png') -800px 0 no-repeat;
}
#nav .menu li .nav-ico5:hover,
#footer .menu li .nav-ico5:hover {
  background: url('../img/icon.png') -320px 0 no-repeat;
}
#nav .menu li .nav-ico6,
#footer .menu li .nav-ico6 {
  background: url('../img/icon.png') -880px 0 no-repeat;
}
#nav .menu li .nav-ico6:hover,
#footer .menu li .nav-ico6:hover {
  background: url('../img/icon.png') -400px 0 no-repeat;
}
#nav ul {
  margin-top: -8px;
}
#footer img {
  top: -23px;
  right: -100px;
}
/**
 * Content
 */
#content {
  background: linear-gradient(top, #f6f1cf 0%, #a1c9c4 15%, #f6f1cf 100%);
  background: -moz-linear-gradient(top, #f6f1cf 0%, #a1c9c4 15%, #f6f1cf 100%);
  background: -ms-linear-gradient(top, #f6f1cf 0%, #a1c9c4 15%, #f6f1cf 100%);
  background: -o-linear-gradient(top, #f6f1cf 0%, #a1c9c4 15%, #f6f1cf 100%);
  background: -webkit-linear-gradient(top, #f6f1cf 0%, #a1c9c4 15%, #f6f1cf 100%);
  width: 1280px;
  margin: 0 auto;
  /**
   * Left menu
   */
  /**
   * Main part (centered)
   */
  /**
   * Main part
   */
}
#content .inner {
  display: table-row;
  background-color: #f6f1cf;
  margin: 20px;
  box-shadow: 1px 1px 3px #5a6f73;
}
#content .left {
  display: table-row;
  background-color: #f6f1cf;
  margin: 20px;
  box-shadow: 1px 1px 3px #5a6f73;
  width: 250px;
  float: left;
  text-align: center;
}
#content .left .type {
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px;
  border-bottom: 1px dashed #5a6f73;
  border-top: 1px dashed #5a6f73;
}
#content .left .type:first-child {
  border-top: 0;
}
#content .left .subtype {
  text-align: left;
  padding: 20px 10px 20px 40px;
}
#content .left .subtype li a {
  font-size: 14px;
  font-weight: bold;
  line-height: 28px;
  text-decoration: underline;
}
#content .left .subtype li a img {
  padding-right: 5px;
  vertical-align: middle;
}
#content .left .subtype li p {
  font-size: 12px;
  padding: 3px 20px;
}
#content .center {
  display: table-row;
  background-color: #f6f1cf;
  margin: 20px;
  box-shadow: 1px 1px 3px #5a6f73;
  width: 1240px;
  float: left;
}
#content .right {
  display: table-row;
  background-color: #f6f1cf;
  margin: 20px;
  box-shadow: 1px 1px 3px #5a6f73;
  width: 950px;
  float: right;
  position: relative;
  /**
     * News
     */
  /**
     * Tours
     */
}
#content .right p {
  padding: 20px;
}
#content .right .content-item {
  display: block;
  font-size: 24px;
  font-weight: bold;
  padding: 20px 10px 20px 40px;
  border-bottom: 1px dashed #5a6f73;
}
#content .right .news-item {
  background: linear-gradient(top, white 0%, #a1c9c4 100%);
  background: -moz-linear-gradient(top, white 0%, #a1c9c4 100%);
  background: -ms-linear-gradient(top, white 0%, #a1c9c4 100%);
  background: -o-linear-gradient(top, white 0%, #a1c9c4 100%);
  background: -webkit-linear-gradient(top, white 0%, #a1c9c4 100%);
  height: 180px;
  margin: 20px;
  box-shadow: 1px 1px 3px #5a6f73;
}
#content .right .news-item img {
  float: right;
  display: block;
  margin: 10px;
  border: 10px solid #f6f1cf;
}
#content .right .news-item p {
  height: 90px;
  padding: 10px 20px;
}
#content .right .news-item h3 {
  padding: 15px 30px 0;
}
#content .right .more {
  float: right;
}
#content .right .tour-search {
  background: linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -moz-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -ms-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -o-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -webkit-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  margin: 20px;
  padding: 10px 120px 50px 40px;
  box-shadow: 1px 1px 3px #5a6f73;
}
#content .right .tour-search h3 {
  padding: 20px;
}
#content .right .tour-search span {
  display: inline-block;
  width: 130px;
  text-align: center;
}
#content .right .tour-search input[type='text'] {
  width: 200px;
  margin: 10px;
  box-shadow: inset 1px 1px 1px #5a6f73;
}
#content .right .tour-search input[type='submit'] {
  background: linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -moz-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -ms-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -o-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -webkit-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  padding: 5px 10px;
  border-radius: 5px;
  color: #5a6f73;
  border: 1px solid #8da2a6;
  float: right;
  margin-right: 50px;
  margin-top: 10px;
}
#content .right h3 {
  padding-left: 40px;
}
#content .right .search-result {
  background: linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -moz-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -ms-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -o-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  background: -webkit-linear-gradient(top, #f6f1cf 0%, #a1c9c4 100%);
  box-shadow: 1px 1px 3px #5a6f73;
  margin: 20px;
}
#content .right .search-result div {
  display: inline-block;
  margin: 20px;
  padding: 0 15px;
}
#content .right .element {
  position: absolute;
  top: 30px;
  right: -30px;
}
/**
 * Carousel
 */
#image_carousel {
  width: 1280px;
  display: block;
  margin: 0 auto;
}
